<center><h1>All About Ashley!</h1></center></center>
<p><This is a page about Ashley and her life! <%= @Home.name %></p>

<p>My birthdate is <%= @Home.birthdate %> </p>

<p>Today is <%= Date.today %>. Have a great day!</p>

<p>Find me in app/views/pages/home.html.erb</p> 
